<div class="container" onclick="location.href='start'">
	<div class="welcome"><h1>Start</h1></div>

	<div class="circle circle-thin">
		<div class="circle circle-orbit"></div>
	</div>

	<div class="circle circle-thick"></div>
</div>