<h1>Editing Transform Definition</h1>

<%= render 'form', transform_definition: @transform_definition %>

<%= link_to 'Show', @transform_definition %> |
<%= link_to 'Back', transform_definitions_path %>
