#portfolio {
    padding-top: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    max-width: 900px;
    max-height: 750px;
}

.portfolio_item-img {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
  
/* ==================== MEDIA (Big Devices - Tablets) ==================== */
@media screen and (max-width: 1440px) {

    .portfolio_item {
        max-width: 700px;
        max-height: 600px;
    }
    
    .portfolio_item h3 {
        font-size: 1rem;
    }
}

/* ==================== MEDIA (Medium Devices - Tablets) ==================== */
@media screen and (max-width: 1024px) {

    .portfolio_item {
        max-width: 500px;
        max-height: 450px;
    }
    
    .portfolio_item h3 {
        font-size: 1rem;
    }
}

/* ==================== MEDIA (Small Devices - Phones) ==================== */
@media screen and (max-width: 600px) {

    .portfolio_item {
        max-width: 300px;
        max-height: 270px;
    }
    
    .portfolio_item h3 {
        font-size: 0.6rem;
    }
}