#portfolio {
    padding-top: 2.5rem;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    max-width: 700px;
    max-height: 48vh;
}

.portfolio_item-img {
    border-radius: 1.5rem;
    overflow: hidden;
    max-width: 600px;
    max-height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    background-position: center;
    object-fit: contain;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
  

/* ==================== MEDIA (Medium Devices - Tablets) ==================== */
@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
    }
}

/* ==================== MEDIA (Small Devices - Phones) ==================== */
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}